@import "https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap";

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    font-size: 0.8em;
}

img {
    display: block;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    overflow: auto;
}

main {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.nav-intersection {
    width: 100%;
    height: 1px;
    background-color: transparent;
    z-index: 10000;
}

nav {
    z-index: 50;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding: 4em 10em;
    position: fixed;
    justify-content: space-between;
    color: white;
    transition: all 0.3s ease-in-out;
}
  
nav a {
    margin: auto;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: opacity 0.25s ease-in-out;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(40, 40, 40);
}
  
nav a::after {
    margin-top: 5px;
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: all 0.4s ease-in-out ;
}
  
nav a:visited {
    color: white;
}

section {
    margin: 0;
    padding: 0;
}

.nav-scrolled a:visited {
    color: white;
}

.nav-scrolled a {
    color: white;
}

nav a:hover {
    opacity: 0.5;
}

nav a:hover::after {
    width: 98%;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 0 auto;
}

nav li {
    align-items: center;
    margin: 0 2.5em 0 0;
    display: inline-block;
}

.nav-scrolled {
    background-color: rgba(0, 0, 0, 0.6);;
    padding: 1.6em 7.5em 1.5em 7.5em;
    color: white;
}

nav li:nth-last-child(1) {
    margin-right: 0;
}

h1 {
    font-size: 7em;
    letter-spacing: 2px;
    margin: .25em;
    text-align: center;
}

.splash-info {
    height: 100%; 
    width: 100%;
    position: relative;
}

.splash-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 3%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parallax {
    background-image: url("imgs/main.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-build {
    background-image: url("imgs/drift.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay p {
    margin: .25em;
    text-align: center;
    line-height: 1.5em;
    width: 50%;
    font-size: 1.7em;
}

.shop-info {
    position: relative;
    width: 100%;
    background: rgb(40, 46, 52);
    color: white;
}

.personal {
    width: 100%;
    padding: 2.5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal h2 {
    font-size: 3em;
    letter-spacing: 2px;
}

.img-container {
    width: 17%;
    height: 60%;
    background: white;
    overflow: hidden;
}

.content {
    width: 70%;
    padding-left: 6%;
}

.content p {
    font-size: 1.2em;
}

.img-container img{
    width: 100%;
}

@media (max-width: 801px) {
    html {
      font-size: .5em;
    }

    .overlay p {
        width: 70%;
    }

    nav {
        justify-content: center;
    }

    nav ul {
        padding: 0;
        text-align: center;
        margin: 0;
    }

    nav ul a {
        font-size: 1.5em;
    }

    .personal {
        width: 100%;
        padding: 10% 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .img-container {
        width: 50%;
        height: 60%;
        background: white;
        overflow: hidden;
    }

    .content {
        width: 100%;
    }

    .parallax {
        background-image: url("imgs/main.jpg");
        height: 100%;
        background-size: cover;
    }
    
    .parallax-build {
        background-image: url("imgs/drift.jpg");
        height: 100%;
        background-size: cover;
    }
}